.learning__page {
}

.next__word__header {
  font-size: 34px;
  display: flex;
  justify-content: start;
  font-weight: normal;
  padding-left: 30px;
}

.next__word__value {
  text-align: center;
  font-weight: bold;
  font-style: none;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 14px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 85%;
  margin: auto;
}

.DisplayFeedback {
}
.feedback {
}
.current__word {
}
.correct__text {
}
.incorrect__text {
}

.next__word__button {
}
.quiz__form {
  display: inline-flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px;
}

.learn__guess__input__label {
  padding: 20px;
  padding-left: 30px;
}

.learn-guess-input {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 25px;
  font-family: inherit;
  text-align: center;
  width: 220px;
  height: 75px;
}

.submit__answer {
  font-size: 25px;
  font-family: inherit;
  text-align: center;
}

.word__stats {
  padding: 12px;
  text-align: center;
  display: flex;
  width: 80%;
  height: 200px;
  margin: auto;
  margin-bottom: 25px;
  flex-direction: column;
  justify-content: center;
  font-size: 28px;
  border: 1px solid black;
  border-radius: 12px;
}

.stat__target {
  border: 1px solid black;
  margin: auto;
  width: 40%;
  border-radius: 12px;
}
