.learning__page {
}

.next__word__header {
  font-size: 34px;
  font-weight: normal;

  display: flex;
  align-content: center;
  margin: auto;

  padding: 25px;
}

.next__word__value {
  text-align: center;
  font-weight: bold;
  font-style: none;
  text-decoration: none;

  margin: auto;
  width: 85%;
  padding-top: 40px;
  padding-bottom: 40px;

  border: 1px solid black;
  border-radius: 14px;
}

.DisplayFeedback {
}
.feedback {
}
.current__word {
}
.correct__text {
}
.incorrect__text {
}

.next__word__button {
}
.quiz__form {
  display: inline-flex;
  flex-direction: column;

  padding-top: 12px;
  padding-bottom: 12px;

  border-radius: 12px;
}

.learn__guess__input__label {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.learn-guess-input {
  font-size: 25px;
  font-family: inherit;
  text-align: center;

  display: flex;
  justify-content: center;
  margin: auto;

  width: 250px;
  height: 95px;
}

.submit__answer {
  font-size: 25px;
  font-family: inherit;
  text-align: center;
}

.word__stats {
  font-size: 28px;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
  margin-bottom: 25px;
  padding: 12px;

  width: 80%;
  min-width: 80%;
  height: 200px;

  border: 1px solid black;
  border-radius: 12px;
}

.stat__target {
  margin: auto;
  width: 40%;

  border: 1px solid black;
  border-radius: 12px;
}
