.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  padding: 20px;
  box-sizing: inherit;
}
.app_name {
  display: flex;
  justify-content: center;
}

.user__logged__in {
  padding: 20px;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.next__word__header {
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

.login__link,
.register__link,
.logout__container,
.start__practicing,
.submit__answer,
.next__word__button,
.form__submit {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: rgb(130, 187, 123);

  display: flex;
  justify-content: center;
  padding: 8px 75px;
  width: 100px;
  min-width: 100px;
  margin: auto;

  border: none;
  border-radius: 15px;
  box-shadow: 4px -4px rgba(1, 135, 135, 0.933);
}

.next__word__button {
  padding: 15px 110px;
}

.start__practicing {
  padding: 45px 120px;
}

.submit__answer {
  padding: 15px 110px;
}

.form__submit {
  margin-top: 15px;
}

.registration__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.registration__container input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 28px;

  border: none;
  border-radius: 20px;
  outline: none;

  box-shadow: 0px 2px 4px rgba(67, 62, 62, 0.289);
}

.demo__credentials {
  text-align: none;
  font-weight: normal;
  background-color: #dd8686c2;

  display: flex;
  flex-direction: column;

  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 40px 100px;

  width: 145px;

  border-radius: 24px;
  box-shadow: 0px 2px 4px rgba(67, 62, 62, 0.289);
}

.word__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding: 20px;
  list-style-type: none;
}

.word__list__item {
  background-color: rgb(42, 147, 165);

  padding: 12px;
  margin: 12px;

  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(67, 62, 62, 0.289);
}

.next__word__value {
  line-height: normal;

  background-color: #fff;
  color: red;
  font-size: 50px;

  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 45px;
  padding: 35px 35px;

  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(67, 62, 62, 0.289);
}

#learn-guess-input {
  display: flex;
  font-family: inherit;
  font-size: inherit;
  justify-self: center;
  margin: auto;
  margin-top: 24px;
  padding: 30px 5px;
  text-align: center;
  max-width: 100%;

  border: none;
  border-radius: 20px;
  outline: none;

  box-shadow: 0px 2px 4px rgba(67, 62, 62, 0.289);
}

.next__word__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.word__stats {
  display: flex;
  flex-direction: column;
}

.feedback {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.correct__text,
.current__text {
  line-height: normal;
  background-color: #fff;
  color: green;
  font-size: 50px;

  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 45px 45px;

  border: none;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(67, 62, 62, 0.289);
}
