@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Yantramanav:wght@300&display=swap');

body {
  font-family: 'Yantramanav', sans-serif;
  font-size: 28px;
  font-weight: bold;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  background-color: #366f88;
  color: #fff;

  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

a,
a:link {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}
a:focus {
  color: #fff;
}
a:active {
  color: #fff;
}
a:visited {
  color: #fff;
}
